      .training {
        margin: 0; 
        padding: 0;
        height:  16vw;
        color: red;
        border: 1px solid red;
      }
      .strokeme {
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      }
      .strokeme:hover {
        color: blue;
      }
      .strokeme:active {
        color: gold;
      }
      .tabulis {
        width:   24vw; 
        height:  16vw;
        background-image: url("../img/tabulis.png");
        background-size: 100% 100%;
        margin: 0; padding: 0;
        --margin-top: 5.5vw;
      }
      
      .tabulis h5 {
        position: relative;
        font-size: .8vw;
        text-align: center;
        width: 30%;
        left: 35%;
        top: 17%;
        margin: 0;
        --margin-bottom: .1vw;
        z-index: 3;
      }
      .tabulis h5 span {
        text-align: center;
        opacity: 1;
        z-index: 3;
      }
      .tabulis p {
        font-size: .6vw;
      }
      .tabulis h5 > img {
        position: absolute;
        height: 95%;
        width:  100%;
        margin: 0; padding: 0;
        z-index: 1;
        opacity: .7;
        left: .2vw;
      }
      .dice {
        position: relative;        
        width: 2vw; 
        height: 2vw;
        top: 70%;
        overflow: hidden;
        z-index: 6;
      }
      .dice img {
        width: 100%;
      }
